.portfoloi {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 100%;
  margin: 60px auto;
}
.title {
  color: var(--body_color);
  margin-bottom: 50px;
}

 


