.project{
    background:red;
    width:100;
    height:100vh;
    margin-top: 40px;
}


.collapseHosing {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .fa-angle-left,
  .fa-angle-right {
    color: pink;
    font-size: 120px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    transform: translate(0, -50%);
  }
  .fa-angle-left {
    left: 57px;
    top: 204px;
  }
  .fa-angle-right {
    top: 204px;
    left: 1261px;
  }
  
  .carrousel_imgs {
    height: 415px;
    position: relative;
  }
  
  .carousel-notes {
    color: blueviolet;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 7px;
    font-size: 24px;
    right: 657px;
  }