.carousel {
  position: relative;
}
.carousel .thumbs {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
}
.carousel .thumb {
  margin: 0 5px;
  cursor: pointer;
}
.carousel .overlay {
  width: 80%;
  position: absolute;
  top: 50%;
  transform: translateY(-50);
  left: 10%;
  padding: 0.4rem 1.5rem;
  text-align: left;
  background-color: black;
  color: aliceblue;
}
.carousel .overlay_title {
  margin: 0.8rem 0 1rem;
}

@media screen and(max-width:600px) {
  .carousel .slide img {
    width: 1000vw !important;
    height: 40vh;
    object-fit: cover;
  }
}
