.filtre {
  width: auto;
  height: auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  transition: all 300ms;
  cursor: pointer;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid var(--body_color);
  margin: 21px auto;
}
.filtre:hover {
  border-color: var(--lang_color);
  background-color: var(--lang_background);
  color: var(--body_color);
}

.skillsGrille_continer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  object-fit: cover;
  padding: 20px;
  border-radius: 50px;
  box-shadow: var(--box-shadow-portfolio);
  overflow: hidden;
  background-color: var(--skill_color);
}

.skillsGrille {
  display: grid;
  width: 100%;
  height: auto;
  margin: 30px auto;
  grid-template-columns: repeat(auto-fill, 147px);
  justify-content: center;
  justify-items: center;
}

.skillsGrille_item {
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 20px;
  margin-bottom: 39px;
}

img {
  height: 40px;
  width: 40px;
}
.skillsGrille_item b {
  color: var(--body_color);
}

/*media phone */
@media (max-width: 767px) {
  .skillsGrille {
    grid-template-columns: repeat(auto-fill, 76px);
  }
  .skillsGrille_item b {
    font-size: 12px;
  }
}
