.accueil {
  margin-top: 102px;
}
.container_logo {
  height: 361px;
}
.container_logo img {
  position: relative;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .container_logo {
  display: none;
  }

  }

