.socialMedia {
  display: grid;
  align-items: center;
  list-style-type: none;
  grid-template-columns: repeat(auto-fill, 60px);
  padding: 0;
  z-index: -1;
}

@media (max-width: 767px) {
  .socialMedia {
grid-template-columns: repeat(auto-fill, 55px);
  }
}