:root {
  --body_background: #f3ebf6;
  --box_background: linear-gradient(#e9d3f19b, #d4a9d6);
  --body_color: rgba(16, 7, 51, 1);
  --transition: 0.25s;
  --spark: 1.8s;
  --lang_background: #e9d3f1;
  --lang_color: #c996cc;
  --hover: linear-gradient(
    45deg,
    #c996cc,
    #f3ebf6,
    #ebc7e6,
    #c996cc,
    #bface2,
    #c996cc,
    #fbf4f9,
    #ebc7e6
  );
}

[data-theme="dark"] {
  --body_background: rgba(16, 7, 51, 1);
  --box_background: linear-gradient(#8552c4, #916bbf);

  --body_color: #f3ebf6;
  --lang_color: #22165b;
  --lang_background: rgb(67, 56, 113);

  --hover: linear-gradient(
    45deg,
    #645cbb,
    #1c0c5b,
    #ebc7e6,
    #3d2c8d,
    #bface2,
    #7a00ff,
    #fbf4f9,
    #a084dc
  );
}
* {
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1600px;
}

code {
  font-family: "Open Sans", sans-serif;
}
