:root {
  white-space: pre-line;
  --body_background: #f3ebf6;
  --box_background: linear-gradient(#e9d3f1, #d4a9d6);
  --body_color: rgba(16, 7, 51, 1);
  --transition: 0.25s;
  --spark: 1.8s;
  --lang_background: #e9d3f1;
  --lang_color: #c996cc;
  --background_icons: #a084dc;
  --hover: linear-gradient(
    45deg,
    #c996cc,
    #f3ebf6,
    #ebc7e6,
    #c996cc,
    #bface2,
    #c996cc,
    #fbf4f9,
    #ebc7e6
  );
  --box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
  --box-shadow-portfolio: 5px 10px 18px rgba(0, 0, 0, 0.8);
  --line-color: "#c996cc";
}

[data-theme="dark"] {
  --body_background: rgba(16, 7, 51, 1);
  --box_background: linear-gradient(#8552c4, #916bbf);

  --body_color: #f3ebf6;
  --lang_color: #22165b;
  --lang_background: rgb(67, 56, 113);
  --background_icons: #c996cc;
  --hover: linear-gradient(
    45deg,
    #645cbb,
    #1c0c5b,
    #ebc7e6,
    #3d2c8d,
    #bface2,
    #7a00ff,
    #fbf4f9,
    #a084dc
  );

  --box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.36),
    -4px -4px 6px 0 rgba(225, 179, 252, 0.582),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.37),
    inset 4px 4px 6px 0 rgba(248, 246, 246, 0.452);
  --box-shadow-portfolio: 5px 10px 18px rgba(250, 246, 246, 0.8);
}
.btn_text {
  color: var(--body_color);
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  border-radius: 20px;
}
* {
  transition: all 0.3s ease-in-out;
  white-space: pre-line;
}

body {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1600px;
  font-size: 16px;
}
@media (max-width: 767px) {
  body {
    font-size: 15px;
    max-width: 767px;
    min-width: 300px;
    margin: 0 auto;
  }
}
code {
  font-family: "Open Sans", sans-serif;
}
